* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

;

html,
body {
    height: 100%;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box {
    height: 300px;
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

label {
    margin-bottom: 7px;
    font-weight: bold;
    text-align: left;
}

.box input {
    height: 35px;
    width: 200px;
    margin-bottom: 30px;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus {
    outline: 1px solid skyblue
}

.button {
    height: 40px;
    width: 170px;
    background-color: skyblue;
    outline: none;
    border: 0.1px solid #ccc;
    border-radius: 7px;
}

.error {
    margin-top: 10px;
    font-size: 14px;
    color: red;
}

footer {
    position: fixed;
    bottom: 0;
    left: 10px;
    margin-bottom: 20px;
}


/* animation */
.falling-paper-container {
    display: none;
    position: relative;
    overflow: hidden;
    height: 100vh;
    background-color: skyblue;
    text-align: center;
    background-image: url("fdb09cd5e747f5c8330f998f11efb0a1.gif");
    background-position: center;
    background-repeat: no-repeat;
}

.falling-paper-container h1 {
    text-align: center;
    margin: 250px 0 0 0;
    font-size: 23px;
}